*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    color: white;
    height: 5vh;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.sectionThree-group{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.s3-group2{
    color: rgb(78, 210, 12);
    font-size: 32px;

}

.s3button{
    padding: 14px 20px 14px 20px;
    background-color: rgb(32, 237, 32);
    border-radius: 30px;
    
}

.s3p1{
    color: white;
    margin: 20px 0px 20px 0px;
}

.s3p2{
    color: white;
}

.s3p3{
    color: white;
    margin: 10px 0px 0px 0px;
}

.s3h4{
    color: white;
    margin: 25px 0px 17px 0px;
}

.herotitle1{
    color: white;
    font-size: 55px;
    margin: 45px 0px 0px 0px;
}

.herotitle2{
    color: white;
    font-size: 55px;
    margin: 0px 0px 0px 0px;
}

span{
    color: rgb(32, 231, 32);
}

.hero{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.hero-right{
    margin: 0px 20px 0px 20px;
}

.sectionThree-right{
    margin-top: 72px;
}

.hero-left{
    margin-top: 47px;
}

.sectionThree-left{
    margin-top: 105px;
}

.herop-group{
    color: white;
    margin-top: 15px;
}

.hero-button{
    padding: 14px 11px 14px 11px;
    margin-top: 15px;
    background-color: rgb(32, 216, 32);
}

.s2p1{
    color: white;
    margin-top: 19px;
}

.s2h4{
    color: white;
    margin-bottom: 17px;
    margin-left: 75px;
}

.s2-button{
    padding: 20px 20px 20px 20px;
    margin-top: 16px;
}

.sectionTwo-group{
    margin-left: 75px;
}

.sectionTwo-groupTwo{
    color: white;
}

.s1h4{
    margin-bottom: 17px;
    color: white;
}

.sectionOne-group{
    color: white;
    margin-bottom: 100px;
    margin-top: 15px;
    font-size: 13px;
    margin-right: 20px;
}

.s1h2{
color: white;
font-size: 41px;
}

.s1title{
    color: white;
    font-size: 41px;
}

.sectionOne{
    display: flex;
    width: 80%;
    margin: auto;
}

.sectionOne-right{
    margin-left: 20px;
}

.sectionThree-right{
    display: flex;
    flex-direction: column;
}